@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');

/* Root for main, accent, and font details */
:root {
    --primary-color: #0F1923;
    --secondary-color: #ff5555;
    --primary-accent: #000;
    --secondary--accent: #ffffff;
    --primary-font: "Anton", sans-serif;
    --font-weight: 400;
    --secondary-font: "Antonio", sans-serif;
    --font-weight1: 300;
    --header1-size: 70px;
    --header2-size: 50px;
    --p-font-size: 32px;
}

*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    font-weight: var(--font-weight1);
    font-family: var(--secondary-font);
}

div#separator {
    padding: 2px;
}

img.valLogo {
    width: 100px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/* CSS for the Introduction message */

h2#introWel {
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
    font-size: var(--header2-size);
    text-align: center;
    padding: 20px;
}

p#introp {
    font-family: var(--secondary-font);
    font-weight: var(--font-weight1);
    font-size: var(--p-font-size);
    text-align: center;
    padding: 100px;
    color: var(--secondary--accent);
}



#intro {
    background-image: url(../images/valorant-test-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-position: fixed;
    background-size: cover;
}

/* css for the vods images */
.VSDiplay img {
    width: 100px;
}

.VStop img {
    width: 100px;
}

.VSBottom img {
    width: 100px;
}

.VSDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.leagueLogo {
    width: 100px;
}

#vods {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

#matches {
    background-color: var(--primary-color);
}

#expand {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
    color: var(--secondary--accent);

    position: relative;
    top: 20px;
    left: 20px;
    border: none;
}

#expand:hover {
    background-color: var(--secondary-color);
    transition: .4s ease;
}

.VStop, .VSBottom {
    display: flex;
    align-items: center;
}

.VSText {
    margin: 0 10px;
}

/*
The following CSS is for the body of the 
*/
body {
    color: white;
}

#header {
    height: 120px;
    background-color: var(--primary-color);
    text-align: center;
}

header h1 {
    pointer-events: none;
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
    font-size: var(--header1-size);
    position: relative;
    z-index: 2;
}

.navbar {
    position: absolute;
    top: 40px;
    right: 10px;
}

.navbar-links a {
    margin-top: 20px;
    padding: 20px;
    color: var(--secondary--accent);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: var(--font-weight);
    font-size: 20px;
    transition: background-color 0.3s;
}

.hamburger {
    display: none;
}

.navbar-links a:hover {
    background-color: var(--secondary-color);
}

#sheader {
    text-align: center;
    font-size: var(--header2-size);
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
}

#vods {
    height: auto;
}

#leagues {
    height: 600px;
}

#tournaments {
    height: 900px;
}

#vods {
    padding: 50px;
    background-color: var(--primary-color);
}

#leagues {
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}

#tournaments {
    background-color: var(--primary-color);
}

.carousel {
    position: relative;
}

/* Styles for the carousel inner container */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Styles for the carousel items */
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

/* Styles for the active carousel item */
.carousel-item.active {
    display: block;
}

/* Styles for the carousel controls */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 40px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* Adjust position of previous control */
.carousel-control-prev {
    left: 200px;
}

/* Adjust position of next control */
.carousel-control-next {
    right: 200px;
}

.carousel-control-prev-icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
}

.regions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
}

.regions-container button {
    margin-bottom: 5px;
}

#regionsToggleButton {
    display: flex;
    margin: auto;
    background: none;
    border: none;
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
    color: var(--secondary--accent);
}

#regButton {
    background: none;
    border: none;
    font-family: var(--secondary-font);
    font-weight: var(--font-weight);
    color: var(--secondary--accent);
}

#leaguescarousel {
    position: relative;
}

#regionsToggleButton {
    position: absolute;
    top: 0;
    left: 50%; /* Position at the horizontal center */
    transform: translateX(-50%); /* Adjust for button width */
}

.leagueCard {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin-top: 150px;
}

.leagueLogo {
    width: 300px;
}

/* footer CSS */
#footer {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: var(--font-weight);
    font-family: var(--primary-font);
    place-items: center;
}

#footer p {
    transform: translateY(-50px); /* Adjust the value as needed */
}

#footer::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    height: 400px;
    background: linear-gradient(to bottom left, transparent 50%, var(--secondary-color) 50%);
}

#footer::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    height: 400px;
    background: linear-gradient(to bottom right, transparent 50%, var(--secondary-color) 50%);
}

nav.mobile-nav {
    display: none;
}

@media screen and (max-width: 900px) {

    .navbar-links {
        display: none;
    }

    .hamburger {
        position: absolute;
        display: block;
        right: 40px;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        z-index: 2;
    }

    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 2.5px;
        background-color: var(--secondary--accent);
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px); 
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-6px, -4px); 
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    nav.mobile-nav { 
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        background-color: var(--primary-color);
        padding-top: 120px;
        transition: 0.4s;
    }

    .mobile-nav.is-active {
        left: 0;
    }

    .mobile-nav a {
        font-size: var(--p-font-size);
        font-family: var(--secondary-font);
        font-weight: var(--font-weight1);
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: var(--secondary-color);
        color: var(--secondary--accent);
        text-decoration: none;
    }

    .mobile-nav a:hover {
        background-color: #ff7777;
    }

    .carousel-control-prev {
        left: 40px;
    }

    .carousel-control-next {
        right: 40px;
    }

    #footer {
        display: flex;
        flex-direction: column;
        height: 20px;
        margin: 0;
    }

    #footer p {
        transform: translateY(0px);

    }

    p#introp {
        padding: 40px;
    }

    #intro {
        background-image: url(../images/valorant-mobile-image.webp);
    }

}

