@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');

/* Root for main, accent, and font details */
:root {
    --primary-color: #0F1923;
    --secondary-color: #ff5555;
    --primary-accent: #000;
    --secondary--accent: #ffffff;
    --primary-font: "Anton", sans-serif;
    --font-weight: 400;
    --secondary-font: "Antonio", sans-serif;
    --font-weight1: 300;
    --header1-size: 70px;
    --header2-size: 50px;
    --p-font-size: 32px;
}

*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

div#separator {
    padding: 2px;
}

img.valLogo {
    width: 100px;
    float: left;
}

/* CSS for the Introduction message */

h2#introWel {
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
    font-size: var(--header2-size);
    text-align: center;
    padding: 20px;
}

p#introp {
    font-family: var(--secondary-font);
    font-weight: var(--font-weight1);
    font-size: var(--p-font-size);
    text-align: center;
    padding: 100px;
    color: linear-gradient(to top, var(--primary-accent), var(--secondary--accent));
}

#intro {
    background-image: url(../images/intro-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-position: fixed;
    background-size: cover;
}

/* css for the vods images */
.VSDiplay img {
    width: 100px;
}

.VStop img {
    width: 100px;
}

.VSBottom img {
    width: 100px;
}

.VSDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.VStop, .VSBottom {
    display: flex;
    align-items: center;
}

.VSText {
    margin: 0 10px;
}

/*
The following CSS is for the body of the 
*/
body {
    color: white;
}

#header {
    height: 120px;
    background-color: var(--primary-color);
    text-align: center;
}

header h1 {
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
    font-size: var(--header1-size);
    padding-right: 100px;
}

.navbar {
    position: absolute;
    top: 40px;
    right: 10px;
}

.navbar-links a {
    margin-top: 20px;
    padding: 20px;
    color: var(--secondary--accent);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: var(--font-weight);
    font-size: 20px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: var(--secondary-color);
}

input[type="checkbox"]{
    position: absolute;
    top: 40px;
    right: 40px;
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

#vods {
    height: auto;
}

#leagues,
#tournaments {
    height: 900px;
}

#vods {
    padding: 50px;
    background-color: var(--primary-color);
}

#leagues {
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}

#tournaments {
    background-color: var(--primary-color);
}

/* footer CSS */
#footer {
    position: relative;
    z-index: 1;
    background-color: var(--secondary-color);
    height: 200px;
    margin-top: -100px
}

#footer::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    height: 400px;
    background: linear-gradient(to bottom left, transparent 50%, var(--secondary-color) 50%);
}

#footer::after {
    z-index: 0;
    content: '';
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    height: 400px;
    background: linear-gradient(to bottom right, transparent 50%, var(--secondary-color) 50%);
}

@media screen and (max-width: 900px) {

    .navbar-links a {
        display: none;
    }

    #navToggle:checked + .navbar .navbar-links a {
        display: block;
    }

    .bar .top {
        height: 2px;
        width: 20px;
        background-color: var(--secondary--accent);
        border-radius: 20px;
        position: absolute;
        top: 40px;
        right: 40px;
        transition: 0.3s ease;
    }

    .bar .bottom {
        bottom: 20px;
        height: 2px;
        width: 20px;
        background-color: var(--secondary--accent);
        border-radius: 20px;
        position: absolute;
        top: 45px;
        right: 40px;
        transition: 0.3s ease;
    }

    input[type="checkbox"]:checked ~ .bar .top {
        transform: rotate(-45deg);
        width: 20px;
        transform-origin: right;
        top: 34px;
    }

    input[type="checkbox"]:checked ~ .bar .bottom {
        transform: rotate(45deg);
        width: 20px;
        transform-origin: right;
        top: 48px;
    }

    input[type="checkbox"]:checked  div.navbar {
        display: block;
    }

}