<ul class="bottom">
    <li><a href="https://www.instagram.com/" target="_blank" aria-label="Instagram"><img src="public/images/insta_logo.webp" alt="Instagram logo"></a></li>
    <li><a href="https://www.facebook.com/" target="_blank" aria-label="Facebook"><img src="public/images/fb_logo.webp" alt="Facebook logo"></a></li>
    <li><a href="https://www.tiktok.com/en/" target="_blank" aria-label="Tiktok"><img src="public/images/tiktok.webp" alt="Tiktok logo"></a></li>
</ul>
<p>
    &copy; This is not a real business <br>
    You can contact us by E-mail or Number at: <br>
    654-143-4542 <br>
    VSports@outlook.com
</p>