<img  class="valLogo" src="public/images/valorant-logo.jpeg" alt="">
<h1>VSPORTS</h1>

<label for="navToggle">
    <input type="checkbox" name="" id="navToggle">


    <div class="bar">
        <span class="top"></span>
        <span class="bottom"></span>
    </div>
</label>

<div class="navbar">
    <div class="navbar-logo">
        <nav class="navbar-links">
            <a href="#vods">Vods</a>
            <a href="#leagues">Leagues</a>
            <a href="#tournaments">Tournaments</a>
        </nav>
    </div>
</div>